.border{
	border: 1px solid #555;
    height: calc(100vh - 2px);
	overflow: hidden;

    body:not(.windows) &{
    	border-radius: 6px;
	}

	body.light &{
		border-color: #efefef !important;
	}

	body.light.windows &{
		border-color: #efefef !important;
	}
}

.main{
	padding: 0px 10px 10px 10px;
	overflow: hidden;
	color: #fff;
	background-color: rgba(35, 42, 47, 0.98); 
	
	body.light &{
		color: #777;
		background-color: rgba(242, 242, 242, 0.97);
	}
}