.config .nav{
	border-bottom: 1px dashed #a7a2a2;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 10px 0;
    margin: 0 15px;

	a + a {
		margin-left: 5px
	} 

	body.windows &{
		padding-top: 10px;
		margin-bottom: 10px
	}
}