.previewer{
	width: calc(100% - 2px);
	max-width: 800px;
	height: auto;
	display: block;
	margin: 0 auto;
	background-color: #a9a7a7;
	border: 1px solid #232A2F;
	position: relative;
	overflow: hidden;
		
	body:not(.windows) &{
		border-radius: 5px;
	}

	body.windows &{
		border-radius: 2px;
	}

	body.light &{
		background-color: #bbb;
		border-color: #d6d3d3;
	}

	&.loading{
		animation: fadein 1s infinite linear;
		animation-delay:0.2s;
		min-height: calc(100vh - 55px);

		.foot-buttons{
			display: none !important;
		}
	}
	
	&.hasError{
		min-height: 120px;
		height: calc(100vh - 52px);
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	
	&.previewIsUp img{
		filter: blur(10px);
		transition: filter 250ms linear;
		transform: scale(1.05);
	}

	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
}

@keyframes fadein {
	from {
		opacity:0.55;
	}
	to {
		opacity:0.9;
	}
}