 @import url('https://fonts.googleapis.com/css?family=Nova+Round');

::selection {
	background: transparent;
}

body {
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a{
	color: inherit;
	text-decoration: none;

	&:hover{
		opacity: .85;
	}
}

button, input[type="button"]{
	border: none;
	background: none;
	color: inherit;
	padding: 0;
	font-size: inherit;
	
	&:focus{
		outline: none;
	}
}

.button {
	@mixin with-color($backgroundColor, $textColor) {
		background-color: $backgroundColor;
		color: $textColor;

		&:active{
			opacity: .8;
		}

		&:hover{
			background-color: lighten($backgroundColor, .5%);
			color: darken($textColor, .5%);
		}
	};

	border: 0px;
	@include with-color(#007aff, #fff);
	cursor: pointer;
	font-size: 14px;
	outline: none;
	text-transform: uppercase;
	text-decoration: none;

	&.light {
		@include with-color(#3e94f1, #fff);

		&.very{
			@include with-color(#f5f5f5, #4e88c5);
			border-color: #b3b3b3 !important;
		}
	}

	&.red {
		background-color: red;
		color: white
	}

	&.grey {
		@include with-color(#a0a0a0, #fff);

		&.light{
			@include with-color(#d6d6d6, #444);
		}
	}

	&[disabled]{
		cursor: default;
	}

	body:not(.windows) &{
		border-radius: 20px;
		font-weight: bold;
		padding: 5px 10px;
	}

	body.windows &{
		border-radius: 4px;
		padding: 4px 8px;
	}
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea{
	&::selection {
		background: #ddd;
	}

	padding: 4px 10px;
	border: 1px solid #ccc;
	font-size: 14px;

	&:focus{
		outline:none;
		border-color: #bbb 
	}
	
	body:not(.windows) &{
		border-radius: 20px;
	}

	body.windows &{
		border-radius: 4px;
	}
}


input[type="number"]{
	padding-right: 0px;
}

.select-wrapper{
	border: 1px solid #ccc;
	background-color: #fff;
	text-align: center;
	padding: 5px 0;
	overflow: hidden;

	select{
		font-size: 14px;
		border:0px;
		width: calc(100% - 10px);
		background: none;

		&:focus{
			outline:none;
		}
	}

	select[multiple]{
		height: auto;
		overflow: hidden;

		& > option{
			padding: 9px;
		}
	}

	body:not(.windows) &{
		border-radius: 20px;

		select[multiple]{
			& > option{
				&:first-child{
					border-top-left-radius: 15px;
					border-top-right-radius: 15px;
				}

				&:last-child{
					border-bottom-left-radius: 15px;
					border-bottom-right-radius: 15px;
				}
			}
		}
	}

	body.windows &{
		border-radius: 2px;

		select[multiple]{
			& > option{

				&:first-child{
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}

				&:last-child{
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
		}		
	}
}